html, body {
  font-family : "SF";
}

.content {
  width  : ~"calc(100vw - 120px)";
  height : auto;
  margin : 100px auto;

  @media @small {
    width  : ~"calc(100vw - 40px)";
    height : ~"calc(100vh - 40px)";
    margin : 20px auto;
  }

  @media @medium {
    width  : ~"calc(100vw - 40px)";
    height : ~"calc(100vh - 40px)";
    margin : 20px auto;
  }
}

.text {
  font-size   : 18px;
  font-family : "SF-thin";
  line-height : 22px;
}

h2 {
  font-size : 24px;
  display   : inline-block;
}

.component {
  border-radius    : 4px;
  border           : 1px solid #D7D7D7;
  background-color : #F4F7F8;
  padding          : 20px;
}



